.nav {
	height: 10vh;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 78vw;
	margin-left: 11vw;

	&__left {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__right {
		& span {
			font-size: 0.7rem;
			margin: 1rem;
		}
	}

	&__options {
		font-size: 0.7rem;

		&-item {
			margin: 1rem;
			cursor: pointer;
		}
	}
}

.sale {
	color: rgb(223, 3, 3);
}

.catagories {
	color: rgb(10, 194, 123);
}

.nav__logo {
	font-size: 1.4rem;
	font-weight: 700;
	align-self: flex-end;
}
